{% extends 'base.html' %}

{% block title %}Sale Orders{% endblock %}

{% block page %}
<div class="page-title">
	<h3 class="breadcrumb-header">Sale Orders</h3>
</div>
<div class="row">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="open_table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Total Qty</th>
                        <th>Total Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><a href="/sale-orders/view/{{order.id}}/" target="_blank">{{order.id}}</a></td>
                            <td>{{order.item__name}}</td>
                            <td>{{order.price}}</td>
                            <td>{{order.total_quantity}}</td>
                            <td>{{order.total_value}}</td>
                            <td><a target="_blank" href="/sale-orders/pdf/{{order.id}}/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</div>
{% endblock %}